*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-family: Inter, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

.list-countries {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 4rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 4rem;
}

.country {
  background-color: rgb(254, 198, 198);
  padding: 1rem;
  width: 15rem;
  height: 18rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.country-name {
  text-align: center;
}

.flag {
  font-size: 6rem;
}
